{% extends 'base_dashboard.html' %}

{% block title %}Add Expense{% endblock %}
{% block footer_scripts %}

    <script>
    $(document).ready(function() {
            var categoryLimit;
            var categoryLimitExists = 0;
            var providedAmountByUser = 0;
            var sumOfExpenses = 0;
            var expenseSumToDisplay = 0; var expenseSumToDisplayThisMonth = 0;
            var categoryValueSelected = 0;
            const d = new Date();
            var dMonth = d.getMonth() + 1;
            var selectedDate;
            $('#hiddenLimitExceeded').html("");
            const objectExampleData = $('.object-example-container').data('exampleObjects')
            //console.log(objectExampleData);
            for ( var i = 0, l = objectExampleData.length; i < l; i++ ) {      
                var expenseDate = new Date(objectExampleData[i].date_of_expense);
                var monthExtractionFromExpense = expenseDate.getMonth() + 1;  
                expenseSumToDisplay += parseFloat(objectExampleData[i].amount);
                if(monthExtractionFromExpense == dMonth){
                    expenseSumToDisplayThisMonth += parseFloat(objectExampleData[i].amount);
                }
            }
            $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd'}).datepicker("setDate", new Date());
            
            /**
             * Validate the form
             */
            $('#formAddExpense').validate({
                rules: {
                    amount: {
                        required: true
                        //number: true
                    },
                    date: 'dateISO',
                    expense_category: 'required',
                    expense_payment: 'required'
                },
                messages: {
                    expense_category: 'Type of expense is required',
                    expense_payment: 'Method of payment is required'
                }
            });
            
            $('#inputAmount').on('input', function(){
                providedAmountByUser = $(this).val()
                // var valid = /^\d{0,9}([\.\,]\d{0,2})?$/.test(this.value),
                //     val = this.value;
                // var pos = this.selectionStart - 1;
                
                // if(!valid){
                //     if(typeof this.lastValid != "undefined") {
                //         this.value = this.lastValid
                //         this.setSelectionRange(pos, pos);
                //     } else {
                //         this.value = "";
                //     }
                // } else {
                //     this.lastValid = val;
                // }
                if(providedAmountByUser > 0 && checkSelectedMonthIsCurrent()){
                    checkLimitExceeded(categoryLimitExists, categoryLimit);
                }
                else{
                    hideLimit();
                }
            });
            $("#datepicker").on("change", function() {
                if(!checkSelectedMonthIsCurrent()){
                    hideLimit();
                }
                else{
                    if(providedAmountByUser > 0 ){
                        checkLimitExceeded(categoryLimitExists, categoryLimit);
                    }
                    
                }
            });

            $('#inputExpCategory').change(function () {
                sumOfExpenses = 0;
                var optionSelected = $(this);
                categoryValueSelected  = $(this).val();
                categoryLimitExists = optionSelected.find(':selected').attr('data-id');
                categoryLimit = optionSelected.find(':selected').attr('data-entry-id');
                    checkLimitExceeded(categoryLimitExists, categoryLimit);
                if(categoryValueSelected > 0){
                    $("#hiddenColumnExpenses").show("slow");
                    $("#hiddenSumExpenses").html(sumOfExpenses);
                    if(categoryLimitExists == '1'){
                        $("#hiddenColumnLimit").show("slow");
                        $("#hiddenLimit").html(categoryLimit);
                    }
                    else{
                        $("#hiddenColumnLimit").hide("slow");
                        $("#hiddenLimit").html("");
                    }   
                    
                }
                else{
                    $("#hiddenColumnExpenses").hide("slow");
                    $("#hiddenColumnLimit").hide("slow");
                }
                
            });

            function calculateSumOfSelectedCategory(){
                for ( var i = 0, l = objectExampleData.length; i < l; i++ ) {      
                        var expenseDateIteration = new Date(objectExampleData[i].date_of_expense);
                        var monthExtractionFromExpenseIteration = expenseDateIteration.getMonth() + 1;           
                        if(categoryValueSelected == objectExampleData[i].expense_category_assigned_to_user_id && monthExtractionFromExpenseIteration == dMonth){
                            sumOfExpenses += parseFloat(objectExampleData[i].amount);
                        }
                    }
            }

            function checkLimitExceeded(categoryLimitExists, categoryLimit)
            {
                //console.log(objectExampleData);
                sumOfExpenses = 0;
                calculateSumOfSelectedCategory();
                if(categoryLimitExists > 0 && checkSelectedMonthIsCurrent() && providedAmountByUser > 0){
                    if(parseFloat(providedAmountByUser) + parseFloat(sumOfExpenses) > parseFloat(categoryLimit)){
                        var valueExceeded = (Math.abs(parseFloat(providedAmountByUser) + parseFloat(sumOfExpenses) - parseFloat(categoryLimit))).toFixed(2);
                        $('#hiddenLimitExceededColumn').show("slow");
                        $("#hiddenLimitExceeded").html(valueExceeded)
                    }
                    else{
                        hideLimit();
                    }
                }
                else{
                    hideLimit();
                }
            }

            function checkSelectedMonthIsCurrent()
            {
                var selDate = $("#datepicker").datepicker('getDate');
                var current = moment(selDate);
                if (moment().month()== current.month()) {
                    return true;
                } else {
                    return false;
                }
            }
            
            function hideLimit(){
                $('#hiddenLimitExceededColumn').hide("slow");
                $('#hiddenLimitExceeded').html("");
            }
        });
    </script>

{% endblock %}
{% block breadcrumb %} Add expense {% endblock %}

{% block cardtitle %} Manage your expenses {% endblock %}

{% block cardbody %}
<div class="row align-items-center justify-content-center">
    {% if expense.errors is not empty %}
    <ul style="list-style-type:none;" class="text-center error">
        {% for error in expense.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-4 ">
        <form method="post" action="/dashboard/createexpense" id="formAddExpense">
            <input id="txtHint" name="amount" value="" autocomplete="off" hidden/>
            <input id="txtHint1" name="amount" value="" autocomplete="off" hidden/>
            <input id="txtHint2" name="amount" value="" autocomplete="off" hidden/>
            
            <div class="form-group mb-2 ">
                <label for="inputAmount">Amount</label>
                <input id="inputAmount" class="form-control" name="amount" placeholder="Amount"
                    value="" autocomplete="off" type="number"  pattern="[0-9]+([\.,][0-9]+)?" step="0.01"
                    title="This should be a number with up to 2 decimal places." required/>
            </div>
            <div class="form-group mb-2">
                <label for="datepicker">Date</label>
                <input type="date" id="datepicker" class="form-control" name="date" placeholder="Date"
                    value="{{ expense.date }}" min="1900-01-01" max="2099-09-13" required/>
            </div>
            <div class="form-group mb-2">
                <label for="inputExpCategory">Category</label>
                <select class="form-control" id="inputExpCategory" name="expense_category" required>
                    <option value="" >Select Category</option>
                    {% for expense in expenseList %}
                        <option value="{{ expense.id }}" data-id="{{ expense.is_limit }}" data-entry-id="{{ expense.limit_set }}">
                            {{ expense.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            {% set dataObjects =
                expenseTable
              %}
             <div class="object-example-container"
                data-example-objects="{{dataObjects|json_encode()}}"
             ></div>

            <div class="form-group mb-2">
                <label for="inputPayment">Payment method</label>
                <select class="form-control" id="inputPayment" name="expense_payment">
                    <option value="">Select Payment method</option>
                    {% for payment in paymentList %}
                        <option value="{{ payment.id }}">{{ payment.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="inputComment">Comment</label>
                <input id="inputComment" class="form-control" name="expense_comment"
                value="{{ expense.comment }}" placeholder="Comment" />
            </div>

            <button type="submit" class="btn btn-primary">Save expense</button>
        </form>
    </div>
    <div class="col-lg-8 ">
        <div class="row">
            <!-- Expenses (Monthly) Card  -->
            <div class=" col-md-6 mb-4" id="hiddenColumnExpenses" style="display: none;">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs text-center font-weight-bold text-primary text-uppercase mb-1">
                                    Expenses of selected category for the current month: 
                                </div>
                                <div class="h5 mb-0 text-center font-weight-bold text-gray-800" id="hiddenSumExpenses"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-funnel-dollar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Limit Card -->
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4" id="hiddenColumnLimit" style="display: none;">
                <div class="card border-left-warning shadow h-100 py-2" id="card-trans-effect">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs text-center font-weight-bold text-warning text-uppercase mb-1">
                                    Limit:
                                </div>
                                <div class="h5 text-center mb-0 font-weight-bold text-gray-800" id="hiddenLimit"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-balance-scale fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Limit exceeded Card  -->
            <div class=" col-md-6 mb-4" id="hiddenLimitExceededColumn" style="display: none;">
                <div class="card bg-gradient-danger border-left-danger shadow h-100 py-2" id="card-trans-effect">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs text-center font-weight-bold text-black text-uppercase mb-1">
                                    You will exceed your limit by: 
                                </div>
                                <div class="h5 mb-0 text-center font-weight-bold text-gray-800" id="hiddenLimitExceeded"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-balance-scale-right fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}