{% extends 'base_dashboard.html' %}

{% block title %}Add Expense{% endblock %}
{% block footer_scripts %}

    <script>
    $(document).ready(function() {

            var categoryLimit;
            var categoryLimitExists = 0;
            var providedAmountByUser = 0;
            var sumOfExpenses = 0;
            var valueSelected = 0;

            const objectExampleData = $('.object-example-container').data('exampleObjects')
            //console.log(objectExampleData);

            $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd'}).datepicker("setDate", new Date());
            /**
             * Validate the form
             */
            $('#formAddExpense').validate({
                rules: {
                    amount: {
                        required: true
                        //number: true
                    },
                    date: 'dateISO',
                    expense_category: 'required',
                    expense_payment: 'required'
                },
                messages: {
                    expense_category: 'Type of expense is required',
                    expense_payment: 'Method of payment is required'
                }
            });
            $('#inputAmount').on('change', function(){
                providedAmountByUser = $(this).val()
                var valid = /^\d{0,9}([\.\,]\d{0,2})?$/.test(this.value),
                    val = this.value;
                var pos = this.selectionStart - 1;
                
                if(!valid){
                    if(typeof this.lastValid != "undefined") {
                        this.value = this.lastValid
                        this.setSelectionRange(pos, pos);
                    } else {
                        this.value = "";
                    }
                } else {
                    this.lastValid = val;
                }
                if(providedAmountByUser > 0){
                    checkLimitExceeded(categoryLimitExists, categoryLimit, providedAmountByUser);
                }
            });


            $('#inputExpCategory').change(function () {
                sumOfExpenses = 0;
                var optionSelected = $(this);
                valueSelected  = optionSelected.val();
                //textSelected   = optionSelected.text();
                categoryLimitExists = optionSelected.find(':selected').attr('data-id');
                categoryLimit = optionSelected.find(':selected').attr('data-entry-id');
                if(providedAmountByUser >0 ){
                    checkLimitExceeded(categoryLimitExists, categoryLimit, providedAmountByUser);
                }
                
            });

            function checkLimitExceeded(categoryLimitExists, categoryLimit, userAmount)
            {
                console.log(objectExampleData);
                //console.log(categoryLimit);
                //console.log(userAmount);
                const d = new Date();
                var dMonth = d.getMonth() + 1;
                if(categoryLimitExists > 0){
                    sumOfExpenses = 0;
                    for ( var i = 0, l = objectExampleData.length; i < l; i++ ) {      
                        var expenseDateIteration = new Date(objectExampleData[i].date_of_expense);
                        var monthExtractionFromExpenseIteration = expenseDateIteration.getMonth() + 1;           
                        if(valueSelected == objectExampleData[i].expense_category_assigned_to_user_id && monthExtractionFromExpenseIteration == dMonth){
                            sumOfExpenses += parseFloat(objectExampleData[i].amount);
                            console.log(sumOfExpenses);
                        }
                    }
                    //console.log(sumOfExpenses);
                    //console.log(parseFloat(providedAmountByUser) + parseFloat(sumOfExpenses));
                    if(parseFloat(providedAmountByUser) + parseFloat(sumOfExpenses) > parseFloat(categoryLimit)){
                        var valueExceeded = Math.abs(parseFloat(providedAmountByUser) + parseFloat(sumOfExpenses) - parseFloat(categoryLimit));
                        //$('#messageOvc').html("You will exceed your limit!");
                        $('#messageOvc').html("Total expenses: " + sumOfExpenses + " <br> Your current limit: " + categoryLimit + " <br>You will exceed your limit by: " + valueExceeded); 
                    }
                    else{
                        $('#messageOvc').html("");
                    }
                }
                else{
                    sumOfExpenses = 0;
                    $('#messageOvc').html("");
                }
            }
        
        });
    </script>

{% endblock %}
{% block breadcrumb %} Add expense {% endblock %}

{% block cardtitle %} Manage your expenses {% endblock %}

{% block cardbody %}
<div class="row align-items-center justify-content-center">
    {% if expense.errors is not empty %}
    <ul style="list-style-type:none;" class="text-center error">
        {% for error in expense.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-6 ">
        <form method="post" action="/dashboard/createexpense" id="formAddExpense">
            <input id="txtHint" name="amount" value="" autocomplete="off" hidden/>
            <input id="txtHint1" name="amount" value="" autocomplete="off" hidden/>
            <input id="txtHint2" name="amount" value="" autocomplete="off" hidden/>
            <div class="row">
                <div class="ml-auto align-items-center" style="color:red;" id="messageOvc"></div>
            </div>
            <div class="form-group mb-2 ">
                <label for="inputAmount">Amount</label>
                <input id="inputAmount" class="form-control" name="amount" placeholder="Amount"
                    value="" autocomplete="off"/>
            </div>
            <div class="form-group mb-2">
                <label for="datepicker">Date</label>
                <input type="text" id="datepicker" class="form-control" name="date" placeholder="Date"
                    value="{{ expense.date }}" />
            </div>
            <div class="form-group mb-2">
                <label for="inputExpCategory">Category</label>
                <select class="form-control" id="inputExpCategory" name="expense_category">
                    <option value="" >Select Category</option>
                    {% for expense in expenseList %}
                        <option value="{{ expense.id }}" data-id="{{ expense.is_limit }}" data-entry-id="{{ expense.limit_set }}">
                            {{ expense.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            {% set dataObjects =
                expenseTable
              %}
             <div class="object-example-container"
                data-example-objects="{{dataObjects|json_encode()}}"
             ></div>

            <div class="form-group mb-2">
                <label for="inputPayment">Payment method</label>
                <select class="form-control" id="inputPayment" name="expense_payment">
                    <option value="">Select Payment method</option>
                    {% for payment in paymentList %}
                        <option value="{{ payment.id }}">{{ payment.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="inputComment">Comment</label>
                <input id="inputComment" class="form-control" name="expense_comment"
                value="{{ expense.comment }}" placeholder="Comment" />
            </div>

            <button type="submit" class="btn btn-primary">Save expense</button>
        </form>
    </div>
    <div class="col-lg-6 ">
        <div class="row">
            <div class="text-center align-items-center" style="color:red;" id="Testing"></div>
        </div>
    </div>
</div>
{% endblock %}