{% extends 'base_dashboard.html' %}

{% block title %}Dashboard{% endblock %}
{% block footer_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>   
<script>
    //var datas = '{{ amountByMonth|json_encode }}';
    //var months = '{{ dateToChart|json_encode }}';

//     const ctx = document.getElementById('expense_category_pie').getContext('2d');
//     const myChart = new Chart(ctx, {
//     type: 'bar',
//     data: {
//         labels: ['Jan', 'Feb', 'March', 'Apr', '4', '5', '6', '7'],
//         datasets: [{
//             label: '# of Votes',
//             data: [],
//             backgroundColor: [
//                 'rgba(255, 99, 132, 0.2)',
//                 'rgba(54, 162, 235, 0.2)',
//                 'rgba(255, 206, 86, 0.2)',
//                 'rgba(75, 192, 192, 0.2)',
//                 'rgba(153, 102, 255, 0.2)',
//                 'rgba(255, 159, 64, 0.2)'
//             ],
//             borderColor: [
//                 'rgba(255, 99, 132, 1)',
//                 'rgba(54, 162, 235, 1)',
//                 'rgba(255, 206, 86, 1)',
//                 'rgba(75, 192, 192, 1)',
//                 'rgba(153, 102, 255, 1)',
//                 'rgba(255, 159, 64, 1)'
//             ],
//             borderWidth: 1
//         }]
//     },
//     options: {
//         scales: {
//             y: {
//                 beginAtZero: true
//             }
//         }
//     }
// });
</script>
{% endblock %}
{% block breadcrumb %} Dashboard {% endblock %}

{% block cardtitle %}Overview{% endblock %}

{% block cardbody %}

<div class="row">
    <div class="col-lg-6 col-sm-4">
        <p class="btn btn-primary">Total Income:  {{ allIncome }}</p><br />
        <p class="btn btn-warning">Total Income Month: {{ monthIncome }}</p><br />
        <p class="btn btn-info">Income Today: {{ todayIncome }}</p><br /><br /><br />
    </div>
    <div class="col-lg-6 col-sm-4">
        <p class="btn btn-primary">Total Expense:  {{ allExpense }}</p><br />
        <p class="btn btn-warning">Total Expense Month: {{ monthExpense }}</p><br />
        <p class="btn btn-info">Expense Today: {{ todayExpense }}</p><br /><br /><br />
        
    </div>
</div>
<!-- <p>Function chart in development!</p>
<canvas id="expense_category_pie" height="100"></canvas> -->
{% endblock %}