{% extends 'base_dashboard.html' %}

{% block title %}Show incomes balance{% endblock %}
{% block footer_scripts %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $('#incomeListing').DataTable();
    });
  </script>

{% endblock %}
{% block breadcrumb %}Show incomes balance{% endblock %}

{% block cardtitle %} See your balance here {% endblock %}

{% block cardbody %}
<div class="row align-items-center justify-content-center">
    {% if expense.errors is not empty %}
    <ul class="text-center error">
        {% for error in expense.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</div>
<table id="incomeListing" class="table table-bordered table-striped" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    <thead>
      <tr>
        <th>Sn.</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th>Comment</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    {% for incomes in incomeTable %}
    <tr>
        <td> {{ loop.index }} </td>  
        <td> {{ incomes.amount }} </td> 
        <td> {{ incomes.name }} </td> 
        <td> {{ incomes.date_of_income }} </td> 
        <td> {{ incomes.income_comment }} </td> 
        <td><button type="button" name="update" id="{{ incomes.id }}" class="btn btn-warning btn-xs update"><span class="fas fa-edit fa-fw" title="Edit"></span></button></td>
        <td><button type="button" name="delete" id="{{ incomes.id }}" class="btn btn-danger btn-xs delete" ><span class="fas fa-trash fa-fw" title="Delete"></span></button></td>
    </tr>
    {% endfor %}
    <tfoot>
      <tr>
        <th>Sn.</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th>Comment</th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
{% endblock %}