{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}

    <div class="container-fluid signup-slider bg-light text-primary">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4 text-center ">
                <h1 class="masthead-heading text-uppercase mb-4">Sign up</h1>
                <p class="mb-2">Success! Your account is now active.</p>
                <p>You can now <a href="/login">log in</a>.</p>
             </div>
        </div>
    </div>

{% endblock %}
