{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}
{#
    <h1>Password reset successfully</h1>

    <p>You can now <a href="/login">login</a>.</p>
#}
    <div class="container-fluid signin-slider bg-light text-primary">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4 text-center ">
                <h1 class="masthead-heading text-uppercase mb-4">Password reset successfully</h1>
                <p>You can now <a href="/login">login</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
